{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": 0,
    "spaced-comment": 0,
    "new-cap": [2, { "capIsNewExceptions": ["Map", "TabNavigator", "StackNavigator"] }],
    "react/jsx-filename-extension": 0,
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 0
  },
  "plugins": ["react", "react-native"]
}